imageio
imagesize
imbalanced-learn
imblearn
imgaug
imutils
matplotlib
numpy
opencv-python
pandas
Pillow
scikit-image
scikit-learn
scipy
seaborn
sklearn-pandas
tensorflow[and-cuda]
keras
h5py
keras_applications
keras_preprocessing
tensorflow-estimator
tensorflow-datasets
mxnet-cu90
pytesseract
